.box {
    border: 3px solid green;
    padding: 20px;
    width: 600px;
    height: 400px;
    margin: 50px auto;
    text-align: center;
    background-color: white;
}

.currency {
    margin-top: 250px;
    margin-left: 350px;
}

ul {
    list-style-type: none;
    font-size: 25px;
}

#currence {
    position: relative;
    border: 2px solid darkblue;
    background-color: blue;
    left: 350px;
    bottom: 300px;
    width: 180px;
    height: 50px;
}

#money-amount {
    position: relative;
    border: 2px solid darkblue;
    background-color: blue;
    bottom: 300px;
    right: 100px;
    width: 200px;
    height: 50px;
}

#money-amount::placeholder{
    color: black;
    font-size: 15px;
}

#execute-Button {
    position: relative;
    border: 2px solid darkblue;
    background-color: blue;
    font-size: 50px;
    bottom: 150px;
    right: 305px;
    height: 100px;
    width: 200px;
}